@tailwind base;
@tailwind components;
@tailwind utilities;

.bglogin {
  background-image: url("https://wallpaperaccess.com/full/1412206.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
}
